.NewsItem {
    --gap: 15px;
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    margin-bottom: var(--box-vert-space-big);
    padding-bottom: var(--box-vert-space);
    border-bottom: 1px solid var(--dark-green);
}

.NewsItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NewsItemImg {
    align-self: flex-start;
}

.NewsItemDate {
    display: block;
    margin-top: var(--box-vert-space);
    font-size: 1.4rem;
}