:root {
    /* colors */
    --main-text-color: #162700;
    --gray-text-color: #f9f9f9;
    --green: #427f09;
    --dark-green: #1a3d04;
    --light-green: #f2fdf3;

    /* other */
    --top-box-horiz-padding: 10px;
    --box-vert-space-small: 5px;
    --box-vert-space: 15px;
    --box-vert-space-big: 25px;
    --section-vert-space: 50px;
    --container-max-width: 1200px;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

h2, h3 {
    margin: 0;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

.show {
    display: block;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--main-text-color);
}

.app-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.app-content  {
    background-color: var(--light-green);
    padding: 40px var(--top-box-horiz-padding);
}

.app-title {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-title {
    margin: 0;
    font-size: 2.4rem;
}
