.showNav,
.closeNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 42px;
    height: 42px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.showNav:focus {
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
}

.closeNav:focus {
    outline: none;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
}

.showNav::before,
.closeNav::before,
.closeNav::after {
    content: "";
    display: block;
    width: 28px;
    height: 3px;
}

.showNav::before {
    background-color: white;
    box-shadow: 0 -8px 0 white, 0 8px 0 white;
}

.closeNav::before,
.closeNav::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--dark-green);
}

.closeNav::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 60px var(--top-box-horiz-padding);
    background-color: white;
    list-style: none;
    box-shadow: -1px -7px 20px 3px var(--dark-green);
}

.item {
    padding: 10px 0;
    border-bottom: 1px solid var(--dark-green);
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
}

.activeLink {
    color: var(--green);
}